################################################################################
# Alan Goodies -- An assorted collection of Alan IF assets                     #
# https://github.com/tajmone/alan-goodies                                      #
################################################################################

* text=auto

## ============
## Alan Files
## ============
*.a3c      binary
*.a3log    text
*.a3r      binary
*.a3sol    text
*.alan     text
*.i        text
*.ifid     text
*.sav      binary

## =============
## AlanIDE Files
## =============
.project   text

## ============
## Scripts
## ============
*.bat      text eol=crlf
*.py       text
*.py3      text
*.rb       text
*.sh       text eol=lf

## ============
## SASS/Scss
## ============
*.sass     text
*.scss     text

## ==================
## Misc. data formats
## ==================
*.csv      text
*.haml     text
*.json     text
*.xhtml    text
*.xml      text
*.xsl      text
*.yaml     text
*.yml      text

## =================
## Web-related files
## =================
*.htm      text
*.html     text
*.css      text eol=lf
*.js       text

## ===================
## DOcumentation files
## ===================
*.adoc       text
*.asciidoc   text
*.docx       binary
*.markdown   text
*.md         text
*.odt        binary
*.pdf        binary
*.txt        text
COPYING      text
LICENSE      text
*LICENSE*    text

## ===================
## Configuration files
## ===================
*.cnf          text
*.conf         text
*.config       text
*.ini          text
*.prefs        text
.editorconfig  text eol=lf
.gitattributes text
.gitconfig     text
.gitignore     text
.gitmodules    text eol=lf

## ===========
## Archives
## ===========
*.7z    binary
*.gz    binary
*.jar   binary
*.rar   binary
*.tar   binary
*.zip   binary

## ===========
## Graphics
## ===========
*.ai    binary
*.bmp   binary
*.eps   binary
*.gif   binary
*.ico   binary
*.jng   binary
*.jp2   binary
*.jpg   binary
*.jpeg  binary
*.jpx   binary
*.jxr   binary
*.png   binary
*.psb   binary
*.psd   binary
*.svg   binary
*.svgz  binary
*.tif   binary
*.tiff  binary
*.wbmp  binary
*.webp  binary

## ==============================
## THIRD PARTY TOOLS FILE FORMATS
## ==============================
# Dia Diagram Editor: http://dia-installer.de/
*.dia   binary

# ==============================================================================
#                                GitHub Linguist                                
# ==============================================================================
#  -- https://github.com/github/linguist
#
# Manually define/override some extension so that GitHub's Linguist library can
# 1) Correctly gather statistics on source files, and
# 2) Use proper syntax highlighting on GitHub's WebUI.

# NOTE: Alan syntax is not supported by Linguist:
#      https://github.com/github/linguist/blob/master/lib/linguist/languages.yml


## =================
## Alan Source Files
## =================
# Even if Alan syntax is not supported, hopefully these settings might help the
# repo statics to show up correctly (long-shot guess):
*.alan    linguist-language=Alan
*.i       linguist-language=Alan
*.alan    linguist-detectable=true
*.i       linguist-detectable=true

*.ifid    linguist-generated=true

## =============
## AlanIDE Files
## =============
.project   linguist-language=XML
.project   linguist-generated=true

## Sample Patterns
## ---------------------------
# *.ext    linguist-detectable=true
# *.ext    linguist-documentation=true
# *.ext    linguist-generated=true
# *.ext    linguist-language=LANG
# *.ext    linguist-vendored=true
