##############################################################
#  Alan Goodies -- An assorted collection of Alan IF assets  #
#  https://github.com/alan-if/alan-goodies                   #
##############################################################

* text=auto

# ==============================================================================
# ============================= ALAN RELATED FILES =============================
# ==============================================================================

[attr]Alan text linguist-language=Alan linguist-detectable=true

## Alan Sources
###############
*.alan   Alan
*.i      Alan
*.ifid   text linguist-generated=true
# UTF-8 converted Alan sources for Asciidoctor inclusion:
*.utf8_alan    text linguist-generated=true

## Alan Story-Files
###################
*.a3c   binary
*.a3r   binary
*.sav   binary

## Adventures Solutions & Transcripts
#####################################
*.a3sol   text linguist-detectable=false
*.a3log   text linguist-generated=true
*.log     text linguist-generated=true

## AlanIDE Files
################
.project   text linguist-language=XML linguist-generated=true

# ==============================================================================
# ========================= OTHER REPOSITORY CONTENTS ==========================
# ==============================================================================


## Repository Configuration
###########################
.editorconfig    text eol=lf
.gitlab-ci.yml   text eol=lf
.travis.yml      text eol=lf
.gitattributes   text eol=lf
.gitconfig       text eol=lf
.gitignore       text eol=lf
.gitmodules      text eol=lf


## Scripts
##########
*.bat   text eol=crlf
*.py    text
*.py3   text
*.rb    text
*.sh    text eol=lf


## Documentation
################
*.adoc       text
*.asciidoc   text
*.docx       binary
*.markdown   text
*.md         text
*.odt        binary
*.pdf        binary
*.txt        text
COPYING      text
LICENSE      text
*LICENSE*    text


## Third Party Tools File Formats
#################################
# Dia Diagram Editor: http://dia-installer.de
*.dia    binary

# EOF #
